[submodule "nordpos-restaurant-service"]
	path = nordpos-restaurant-service
	url = https://github.com/derOtto/mvpos-restaurant-service.git
[submodule "nordpos-product-catalog"]
	path = nordpos-product-catalog
	url = https://github.com/derOtto/mvpos-product-catalog.git
[submodule "nordpos-escpos-display"]
	path = nordpos-escpos-display
	url = https://github.com/derOtto/nordpos-escpos-display.git
[submodule "nordpos-device"]
	path = nordpos-device
	url = https://github.com/derOtto/nordpos-device.git
[submodule "nordpos-dao"]
	path = nordpos-dao
	url = https://github.com/derOtto/nordpos-dao.git
[submodule "mobile-stripes"]
	path = mobile-stripes
	url = https://github.com/derOtto/mobile-stripes.git
[submodule "nordpos-webapps"]
	path = nordpos-webapps
	url = https://github.com/derOtto/nordpos-webapps.git
[submodule "online-retail"]
	path = online-retail
	url = https://github.com/derOtto/online-retail.git
